name: pytest

on:
  push:
    branches: [ master ]
    paths:
      - 'cmeutils/**'
      - environment.yml
      - .github/workflows/pytest.yml
  pull_request:
    branches: [ master ]
    paths:
      - 'cmeutils/**'
      - environment.yml
      - .github/workflows/pytest.yml
  # Allows workflow to be manually triggered
  workflow_dispatch:

jobs:
  pytest:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Build environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        environment-file: environment.yml
        miniforge-variant: Mambaforge
        miniforge-version: 4.9.2-4
        use-mamba: true

    - name: Install package
      shell: bash -l {0}
      run: pip install .

    - name: Run pytest with coverage report
      shell: bash -l {0}
      run: python -m pytest -v -rs --cov=./ --cov-report=xml

    - name: Test hoomd2 functions
      shell: bash -l {0}
      run: |
        mamba remove hoomd python -y
        mamba install -c conda-forge python=3.9 pytest "hoomd<3=*cpu*"
        python -m pytest -v -rs -k test_xml_to_gsd --cov=./ --cov-report=xml --cov-append

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
